apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: tomcat
  name: tomcat
spec:
  replicas: 10
  selector:
    matchLabels:
      app: tomcat
  strategy: {}
  template:
    metadata:
      labels:
        app: tomcat
    spec:
      containers:
      - image: public.ecr.aws/v0a8o2u0/minpublic.ecr.aws/v0a8o2u0/mindtreerepo:latest
        name: mindtreerepo
